@inherits LayoutComponentBase

<div class="page-container">
    <header class="top-nav-bar">
        <NavMenu />
        <AboutModal />
    </header>

    <main class="content">
        @* Your pages will be rendered here *@
        @Body
    </main>
</div>


